post_to = "path://to/post/address?auth_token=123456"
chat_history_directory = "/path/to/hipchat-directory/"
rooms = ['CHAT ROOM 1','CHAT ROOM 2']
seconds_to_wait = 0 # 0: manual continuation, > 0: wait seconds_to_wait seconds, can be overridden at command line
userbot = None # or "User Name" for messages created for a specific user
notify_probability = 0.5 # probability that the room gets notified
color = "random" # yellow, green, red, purple, gray, random